{% extends 'feedback/base.html' %}

{% block title %} Информация об отзыве с ID - {{feed.id}} {% endblock %}

{% block content %}
<table>
    <caption><h2> Отзыв с ID - {{feed.id}} </h2></caption>
</table>
<table>
     <caption><h1>Детали отзыва</h1></caption>
     <caption><h2>Имя: {{feed.name|title}}</h2></caption>
     <caption><h2>Фамилия: {{feed.surname|title}}</h2></caption>
     <caption><h2>Отзыв: {{feed.feedback}}</h2></caption>
     <caption><h2>Рейтинг: {{feed.rating}}</h2></caption>
     <caption><h2>id: {{feed.id}}</h2></caption>
</table>
{% endblock %}