{% extends 'base.html' %}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Signs of Element {{ element|capfirst }}
{% endblock %}


{% block content %}
{% include 'includes/navbar.html'%}
    <h1>{{ element|capfirst }}</h1>

    <ul>
        {% if description_element is None %}
            <h2>
                Wrong element - {{ element|upper }}
            </h2>
        {% else %}
            <h2>
                {% for description_element in description_element %}
            <li>
                <a href="{% url 'horoscope-name' sign_zodiac=description_element %}">{{ description_element|title }}</a>
            </li>
                {% endfor %}
            </h2>
        {% endif %}
    </ul>
{% endblock %}
